@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

ion-icon {
    font-size: 20px;
    color: black;
}

/* Config do Topo */
.topo {
    background-color: white;
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 0 15px;
}

.cabecalho {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-mobile {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-top: 8px;
}

.divisoria {
    height: 19.5px;
    width: 1px;
    background-color: #dbdbdb;
    margin: 0 10px;
}

.pesquisa input {
    height: 28px;
    width: 215px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.pesquisa ::-webkit-input-placeholder {
    color: #979797;
    font-size: 12px;
    text-align: center
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

/* Início do corpo */
.container {
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    width: 935px;
    margin: 0 auto;
}

/* Config do conteúdo */
.conteudo {
    width: 614px;
}

/* Config dos Stories */
.caixa-stories {
    height: 118px;
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 24px;
    background-color: white;
    display: flex;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
    position: relative;
    overflow: hidden;
}

.caixa-stories div {
    position: relative;
    text-align: center;
    margin-right: 15px;
}

.background-stories {
    width: 66px;
    border-radius: 33px;
    margin-bottom: 2px;
}

.perfil-stories {
    width: 56px;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 28px;
}

.caixa-stories ion-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    color: white;
    top: 39%;
    left: 95%;
    border-radius: 13px;
}

/* Config dos Posts */
.post {
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 60px;
    background-color: white;
}

.perfil {
    font-weight: 500;
    color: #262626;
}

.perfil img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.post img {
    width: 100%;
}

.post video {
    width: 100%;
}

.caixa-autor {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}

.autor {
    display: flex;
    align-items: center;
}

.autor img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 15px;
}

.mais-opcoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12px;
}

.mais-opcoes ion-icon {
    font-size: 3px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

.interacoes {
    display: flex;
    justify-content: space-between;
    width: 85px;
}

.curtidas {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 13px;
}

.curtidas img {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.curtidas p {
    font-weight: 300;
}

/* Início da Config da Sidebar */
.sidebar {
    width: 293px;
    padding-top: 15px;
    position: sticky;
    top: 88px;
    height: 100%;
}

.meu-perfil, .perfil-sugestao {
    display: flex;
    align-items: center;
}

.meu-perfil img {
    height: 56px;
    width: 56px;
    border-radius: 28px;
    margin-right: 15px;
}

.meu-perfil p {
    margin-top: 2px;
    color: #9b9b9b;
}

.sugestao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.sugestao h1 {
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 500;
}

.sugestao h2 {
    font-size: 12px;
    font-weight: 500;
}

.perfil-sugestao img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 10px;
}

.descricao-sugestao {
    color: #8E8E8E;
    font-size: 12px;
    margin-top: 2px;
}

.seguir {
    color:#139EF2;
    font-size: 12px;
    font-weight: 500;
}

.info {
    margin-top: 30px;
    color:#c7c7c7;
    font-size: 11px;
    line-height: 15px;
}

/* Config da barra inferior */
.barra-inferior {
    display: none;
}

@media (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .container {
        width: 614px;
    }
}

@media (max-width: 614px) {
    .cabecalho {
        display: none;
    }

    .topo {
        width: 100%;
    }

    .cabecalho-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho-mobile img {
        margin-top: 8px;
    }

    .container {
        padding-top: 54px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 0 auto;
    }

    .conteudo {
        width: 100%;
    }

    .caixa-stories {
        width: 100%;
        background-color: transparent;
        border: none;
        margin-bottom: 0px;
    }

    .caixa-stories ion-icon {
        display: none;
    }

    .post {
        width: 100%;
        border-right: none;
        border-left: none;
        border-radius: 0px;
    }

    .barra-inferior {
        background-color: white;
        height: 54px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #dbdbdb;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 100;
        padding: 0 15px;
    }

    .barra-inferior ion-icon {
        font-size: 22px;
    }
}