body {
    font-family: Roboto;
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

.topo {
    background-color: white;
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    left: 0;
    top: 0;
}

.cabecalho {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon {
    font-size: 19.5px;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-top: 8px;
}

.divisoria {
    height: 19.5px;
    width: 1px;
    background-color: #dbdbdb;
    margin: 0 10px;
}

.pesquisa input {
    height: 28px;
    width: 215px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.pesquisa ::-webkit-input-placeholder {
    color: #979797;
    font-size: 12px;
    text-align: center
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.container {
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    width: 935px;
    margin: 0 auto;
}

.conteudo {
    width: 614px;
}

.caixa-stories {
    height: 118px;
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 24px;
    background-color: red;
}

.post {
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 60px;
    background-color: green;
}

.post h1 {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}

.post img {
    width: 100%;
}

.caixa-autor {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 17px 15px;
}

.autor {
    display: flex;
    align-items: center;
}

.autor img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 15px;
}

.mais-opcoes {
    background-color:yellow;
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: blueviolet;
    width: 293px;
}